*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0c894;  
}

.navcontainer{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    background-color: rgb(223, 192, 154);
    /* border: solid;
    border-color: #a844b5;
    border-radius: 5px; */
}

.nav-item{
    background-color: #f0c894;  
    flex-grow: 4;   
    margin: 5px;
    height: 30px;
    width: 30px;
    text-align:center;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0  rgb(111, 89, 40);
    font-size: 20px;
    transition: .2s ease;
}
.nav-item:hover{
    transform: scale(1.02);
    background-color: rgb(223, 192, 154);
    color:rgb(101, 81, 37);
    
}
a{
    text-decoration: none; 
    color: #a844b5;
    
}

a:hover{
    color:rgb(101, 81, 37);
}
.boss-container{
    display: flex;
    justify-content: center;
    
}

#container{
    display: grid;
    height: 500px;
    width: 700px;
    border: solid;
    border-color:#a844b5;
    grid-template-columns: repeat(1fr 300px);
    grid-template-rows: auto;
    margin-top: 10px;
    position: sticky;
}
.game{
 height: 30%;
 width: 30%;
}
.bottom-area{
    grid-column: 1 ;
    grid-row: 3;
    background-image: url(https://cn.i.cdn.ti-platform.com/cnemea/content/328/showpage/adventure-time/uk/backgroundtile.png);
    background-image: contain;
    width: 100%;
    height: 100%;
}

.sky{
    background-color: #A7C7E7;
    width: 100%;
    height: 100%;
   
}
.cloud{
 background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.intel.com%2Fcontent%2Fdam%2Fwww%2Fpublic%2Fus%2Fen%2Fimages%2Fpartner-alliance%2Frwd%2Ficons%2Fa1145752-cloud-specialist-icon-rwd.png.rendition.intel.web.864.486.png&imgrefurl=https%3A%2F%2Fwww.intel.com%2Fcontent%2Fwww%2Fus%2Fen%2Fpartner-alliance%2Fmembership%2Fspecialties%2Fcloud%2Foverview.html&tbnid=LtULCavotMo7_M&vet=12ahUKEwi27K_s94f8AhUprXIEHd26B8AQMygBegUIARDfAQ..i&docid=paJjlYQu7wGsGM&w=864&h=486&q=cloud&hl=en&ved=2ahUKEwi27K_s94f8AhUprXIEHd26B8AQMygBegUIARDfAQ);


}

    
    

/* media queries*/

@media screen and (max-width: 800px){
    .navcontainer{
        display: flex;
        height: 60px;   
        text-align: center;
        position: relative;

    }
    .nav-item{
        height: 40px;
        text-align: center;
        margin-top: 10px; 
        font-size: 25px
    }
}

